<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page_title} + ' - piQueue'">Login - piQueue</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet">
</head>

<body>

<div class="dropdown position-fixed top-0 end-0 p-2 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" id="languageDropdown">
        <label th:text="#{common.current_language}"></label>
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        <li><a class="dropdown-item" href="?lang=kz">Қазақ <img th:src="@{/images/lang_kz.png}" width="24" height="24"></a>
        </li>
        <li><a class="dropdown-item" href="?lang=ru">Русский <img th:src="@{/images/lang_ru.png}" width="24"
                                                                  height="24"></a></li>
        <li><a class="dropdown-item" href="?lang=en">English <img th:src="@{/images/lang_en.png}" width="24"
                                                                  height="24"></a></li>
    </ul>
</div>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-3">
        <h1 class="text-left mt-5">piQueue</h1>
        <p class="lead text-left" th:text="#{index.login_title}"></p>
        <form action="/login" method="POST">

            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="Enter your Username" required>
                <label for="username" th:text="#{index.username_label}">Username:</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Enter your Password" required>
                <label for="password" th:text="#{index.password_label}">Password:</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" name="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" th:text="#{index.remember_me}">
                    Remember me
                </label>
            </div>

            <div class="py-3">
                <button type="submit" class="btn btn-primary w-100" th:text="#{index.login_button}">Log in</button>
            </div>
            <p class="mt-5 mb-3 text-body-secondary">&copy; Hustle Industry 2024</p>

        </form>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>