<!DOCTYPE HTML>
<html th:lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{operator.page_title} + ' - piQueue'">Operator page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-left mt-5"><a href="/" class="unstyled-link">piQueue</a></h1>
            <p class="lead text-left" th:text="#{operator.page_title}">Operator page</p>
        </div>
        <div th:replace="page-header :: copy"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <div class="d-inline-block">
                <a class="btn btn-success p-3" href="/operator/call-current" th:text="#{operator.call_current_button}">Call
                    current</a>
                <a class="btn btn-success p-3" href="/operator/call-next" th:text="#{operator.call_next_button}">Call
                    next</a>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<p th:text="${user.username}"/>-->
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>